/*==================================================CABECARIO======================================*/
header{
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    padding-top:25px;
    
    
    } 
    
    #logo{
        width: 100px;
        margin-left: 50px;
        margin-bottom: 20px;
    }