/*==================================================FOTOS-CASAS======================================*/

.texto{
    margin: auto;
    max-width: 382px;
    width: 382px;
    height: 44px;

    font-family: Ropa Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    text-align: justify;

    color: #555555;
}

.quartos{
    height: 600px;
    display: flex;
    justify-content: center;
    gap: 380px;
}

.texto-valor{
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    font-family: 'Ropa Sans', sans-serif;
    color: #888888;
}

.texto-status{
    background-color: #51D275;
    border-radius: 10.5px;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 21px;
    width: 80px;
    height: 21px;
    text-align: center;
    font-family: 'Ropa Sans', sans-serif;
    
}

.texto-status-dois{
    background-color:#DC9730;;
    border-radius: 10.5px;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 21px;
    width: 80px;
    height: 21px;
    text-align: center;
    font-family: 'Ropa Sans', sans-serif;
}

.texto-card-um{
    display: flex;
    justify-content: space-around;
    margin-top: 14px;
}

.quarto-um{
    max-width: 427px;
    background-color:#EEEEEE;
    width: 427px;
    height: 429px;
    border-radius: 6%;
    margin-top: 50px;
}

.card-um{
    border-radius: 6% 6% 0 0;
}

.card-dois{
    border-radius: 6% 6% 0 0;
}
