                                             /* imagens seu estilo */
.opcoes{
    width: 100%;
}


.estilo{
    display: flex;
    justify-content: center;
    font-family: Ropa Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #888888;
    margin-bottom:20px ;

}

.estilos-casa{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    /* height: 80px; */

    /* background: rgba(196, 196, 196, 0.5); */
    
}



.retangulos{
   width: 1170px;
    
   
}
