@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');
*{
    margin: 0;
    border: 0;
    padding: 0;
    

}


footer{
    background-color: #333333;
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

iframe{
    border-radius: 19px;
}

li{
    
    font-family: Ropa Sans;

    margin: 10px;
    font-weight: normal;
    font-size: 15px;
    line-height: 13px;
    text-align: justify;

    color: #FFFFFF;
}